<a href="@Url.Action("Gestion", "Personal")" class="btn btn-primary btn-sm mb-3">
    <i class="fa-solid fa-arrow-left"></i> Regresar
</a>
<div class="row px-5">
    <div class="col-12">
        <div class="row">
            <div class="display-3 px-0 col-12 ">Asignar Paciente</div>
            <div class="text-muted px-0 ">Le esta asignando pacientes a (aqui el nombre del fisio)</div>
        </div>
        <div class="row my-2">
            <a href="@Url.Action("AgregarPaciente", "Paciente")" id="AgregarNuevoPaciente" class="btn btn-primary btn-sm mb-3 col-md-4 col-xl-2"><i class="fa-solid fa-plus"></i> Agregar Nuevo Paciente</a>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Foto de Perfil</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Referencia</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="https://via.placeholder.com/50" alt="Foto de Perfil"></td>
                            <td>Juan Pérez</td>
                            <td>juan.perez@example.com</td>
                            <td>Juancho Pérez</td>
                            <td>Activo</td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("VistaAsignacionPersonal", "Personal")">Asignar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="https://via.placeholder.com/50" alt="Foto de Perfil"></td>
                            <td>María González</td>
                            <td>maria.gonzalez@example.com</td>
                            <td>Mary</td>
                            <td>Activo</td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("VistaAsignacionPersonal", "Personal")">Asignar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="https://via.placeholder.com/50" alt="Foto de Perfil"></td>
                            <td>Carlos López</td>
                            <td>carlos.lopez@example.com</td>
                            <td>Charlie el hijo de doña Sonia</td>
                            <td>Desactivado</td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("VistaAsignacionPersonal", "Personal")">Asignar</a>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Foto de Perfil</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Referencia</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#example").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            responsive: true,  // Enable responsive table
            columnDefs: [
                {
                    targets: [1, 6], // Apply settings to "Foto de Perfil" (1) and "Opciones" (6)
                    className: 'text-center' // Center align for both columns
                },
                {
                    targets: [6], // Target only the "Opciones" column (index 6)
                    orderable: false // Disable ordering for "Opciones" column
                }
            ]
        });

    });
</script>
