<div class="row my-2 ms-5 mt-4">
    <a href="@Url.Action("AgregarPersonal", "Personal")" id="AgregarNuevoPersonal" class="btn btn-primary  mb-0 col-md-6 col-xl-2">
        <i class="fa-solid fa-plus"></i> Agregar Nuevo
    </a>
</div>

<!-- Filtros  -->
<div class="row my-2 ms-5 mt-4 ">
    <div class="col-md-8"></div> 
    <div class="col-md-2">
        <select class="form-select" style="border-radius: 10px;">
            <option selected disabled>Ordenar por</option>
            <option value="nombre">Nombre</option>
            <option value="fechaContratacion">Fecha de contratación</option>
            <option value="alias">Alias</option>
            <option value="edad">Edad</option>
            <option value="correo">Correo</option>
            <option value="cedula">Cédula</option>
            <option value="especialidad">Especialidad</option>
        </select>
    </div>
</div>

<!-- Cards -->

<div class="d-flex flex-row flex-wrap gap-3 ms-5 mt-4">
    <div class="card" style="width: 18rem; transition: transform 0.3s ease; box-shadow: none;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none';">
        <img class="card-img-top" src="https://images.pexels.com/photos/1844547/pexels-photo-1844547.jpeg" alt="Imagen de Ignasio Miranda">
        <div class="card-body">
            <h5 class="card-title">Ignasio Miranda</h5>
            <p class="card-text">Fisioterapeuta Geriátrico</p>
            <br />
            <a href="@Url.Action("InformacionPersonal", "Personal")" class="btn btn-primary">Visualizar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; transition: transform 0.3s ease; box-shadow: none;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none';">
        <img class="card-img-top" src="https://images.pexels.com/photos/19963193/pexels-photo-19963193.jpeg" alt="Imagen de Claudia Gomez">
        <div class="card-body">
            <h5 class="card-title">Claudia Gomez</h5>
            <p class="card-text">Fisioterapeuta Deportiva</p>
            <br />
            <a href="@Url.Action("InformacionPersonal", "Personal")" class="btn btn-primary">Visualizar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; transition: transform 0.3s ease; box-shadow: none;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none';">
        <img class="card-img-top" src="https://images.pexels.com/photos/6094059/pexels-photo-6094059.jpeg" alt="Imagen de Graciela Ulate">
        <div class="card-body">
            <h5 class="card-title">Graciela Ulate</h5>
            <p class="card-text">Fisioterapeuta Pediátrica</p>
            <br />
            <a href="@Url.Action("InformacionPersonal", "Personal")" class="btn btn-primary">Visualizar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; transition: transform 0.3s ease; box-shadow: none;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none';">
        <img class="card-img-top" src="https://images.pexels.com/photos/20860602/pexels-photo-20860602/free-photo-of-fisioterapeuta-masajeando-la-espalda.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de Graciela Ulate">
        <div class="card-body">
            <h5 class="card-title">Graciela Ulate</h5>
            <p class="card-text">Fisioterapeuta Pediátrica</p>
            <br />
            <a href="@Url.Action("InformacionPersonal", "Personal")" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>
